
/* 字体粗细 */
.ls-ft-bold{font-weight: bold;}

/* 页面布局 */
.ls-center {text-align:  center;}

/* 分割线 */
.ls-hr {display: block;height:1px;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0)); /* Firefox 3.6 - 15 */
    background: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0)); /* 标准的语法 */}

/* 图章 */
.ls-badge {
	display: inline-block;
	padding: 0px 5px;
	background: #ddd;
	border-radius: 3px;
	color: #eee;
}


/* 按钮基础样式 */
.ls-btn{
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    transition: all .2s;  
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 10px 20px;
}

/* 圆角 */
.ls-btn-bdr {border-radius: 100px;}

/* 字体颜色设置 */
.ls-btn-clr-black {color: rgba(0,0,0,0.8);}
.ls-clr-black,.ls-btn-clr-black:hover{color: rgba(0,0,0,1);}
.ls-btn-clr-white {color: rgba(255,255,255,0.8);}
.ls-clr-white,.ls-btn-clr-white:hover{color: rgba(255,255,255,1);}
.ls-btn-clr-blue {color: rgba(42,183,210,0.8);}
.ls-clr-blue,.ls-btn-clr-blue:hover{color: rgba(42,183,210,1);}
.ls-btn-clr-red {color: rgba(232,18,18,0.8);}
.ls-clr-red,.ls-btn-clr-red:hover{color: rgba(232,18,18,1);}
.ls-btn-clr-orange {color: rgba(228,191,17,0.8);}
.ls-clr-orange,.ls-btn-clr-orange:hover{color: rgba(228,191,17,1);}
.ls-btn-clr-green {color: rgba(35,191,72,0.8);}
.ls-clr-green,.ls-btn-clr-green:hover{color: rgba(35,191,72,1);}

/* 背景颜色设置 */
.ls-btn-bg-white {background: rgba(255,255,255,0.8);}
.ls-bg-white,.ls-btn-bg-white:hover{background: rgba(255,255,255,1);}
.ls-btn-bg-blue {background: rgba(42,183,210,0.8);}
.ls-bg-blue,.ls-btn-bg-blue:hover{background: rgba(42,183,210,1);}
.ls-btn-bg-red {background: rgba(232,18,18,0.8);}
.ls-bg-red,.ls-btn-bg-red:hover{background: rgba(232,18,18,1);}
.ls-btn-bg-orange {background: rgba(228,191,17,0.8);}
.ls-bg-orange,.ls-btn-bg-orange:hover{background: rgba(228,191,17,1);}
.ls-btn-bg-green {background: rgba(35,191,72,0.8);}
.ls-bg-green,.ls-btn-bg-green:hover{background: rgba(35,191,72,1);}


/* 边框颜色设置 */
.ls-btn-bd-white {border: 1px solid rgba(255,255,255,0.8);}
.ls-bd-white,.ls-btn-bd-white:hover{border: 1px solid rgba(255,255,255,1);}
.ls-btn-bd-blue {border: 1px solid rgba(42,183,210,0.8);}
.ls-bd-blue,.ls-btn-bd-blue:hover{border: 1px solid rgba(42,183,210,1);}
.ls-btn-bd-red {border: 1px solid rgba(232,18,18,0.8);}
.ls-bd-red,.ls-btn-bd-red:hover{border: 1px solid rgba(232,18,18,1);}
.ls-btn-bd-orange {border: 1px solid rgba(228,191,17,0.8);}
.ls-bd-orange,.ls-btn-bd-orange:hover{border: 1px solid rgba(228,191,17,1);}
.ls-btn-bd-green {border: 1px solid rgba(35,191,72,0.8);}
.ls-bd-green,.ls-btn-bd-green:hover{border: 1px solid rgba(35,191,72,1);}

/* 边角半径 */
.ls-bd-radius-5 {border-radius: 5px;}
.ls-bd-radius-10 {border-radius: 10px;}

/* 阴影颜色设置 */
.ls-btn-sd-white {box-shadow: 0px 0px 5px rgba(255,255,255,0.8);}
.ls-sd-white,.ls-btn-sd-white:hover{box-shadow: 0px 0px 20px rgba(255,255,255,1);}
.ls-btn-sd-blue {box-shadow: 0px 0px 5px rgba(42,183,210,0.8);}
.ls-sd-blue,.ls-btn-sd-blue:hover{box-shadow: 0px 0px 20px rgba(42,183,210,1);}
.ls-btn-sd-red {box-shadow: 0px 0px 5px rgba(232,18,18,0.8);}
.ls-sd-red,.ls-btn-sd-red:hover{box-shadow: 0px 0px 20px rgba(232,18,18,1);}
.ls-btn-sd-orange {box-shadow: 0px 0px 5px rgba(228,191,17,0.8);}
.ls-sd-orange,.ls-btn-sd-orange:hover{box-shadow: 0px 0px 20px rgba(228,191,17,1);}
.ls-btn-sd-green {box-shadow: 0px 0px 5px rgba(35,191,72,0.8);}
.ls-sd-green,.ls-btn-sd-green:hover{box-shadow: 0px 0px 20px rgba(35,191,72,1);}