
/* 类型1： 圆润阴影按钮 */
.ls-btn-1 {
	transition: all .2s;    
	margin-bottom: 5px;
    display: inline-block;
    white-space: nowrap;
	cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
	border: 1px solid rgba(222,222,222,1);
    background: rgba(222,222,222,1);
    color: #111;
    box-shadow: 0px 0px 5px rgba(222,222,222,1);
}
.ls-btn-1:hover {
	border: 1px solid rgba(222,222,222,0.8);
    background: rgba(222,222,222,0.8);
    box-shadow: 0px 0px 20px rgba(222,222,222,1);
    color: #222;
}


/* 类型2： 圆角扁平按钮 */
.ls-btn-2{
    transition: all .2s;    
    margin-bottom: 5px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    padding: 5px 100px;
    border-radius: 18px;
    border: 1px solid rgba(222,222,222,1);
    background: transparent;
    color: rgba(222,222,222,1);
}
.ls-btn-2:hover {
    background: rgba(222,222,222,1);
    color: #111;
}



/* 蓝色背景 */
.ls-btn-bg-blue {
	border: 1px solid rgba(42,183,210,1);
    background: rgba(42,183,210,1);
    color: white;
}
.ls-btn-bg-blue:hover{
	border: 1px solid transparent;
    background: rgba(42,183,210,0.8);
    color: white;
}

/* 红色背景 */
.ls-btn-bg-red {
	border: 1px solid rgba(232,18,18,1);
    background: rgba(232,18,18,1);
    color: white;
}
.ls-btn-bg-red:hover{
	border: 1px solid transparent;
    background: rgba(232,18,18,0.8);
    color: white;
}
/* 橙色背景 */
.ls-btn-bg-orange {
	border: 1px solid rgba(228,191,17,1);
    background: rgba(228,191,17,1);
    color: white;
}
.ls-btn-bg-orange:hover{
	border: 1px solid transparent;
    background: rgba(228,191,17,0.8);
    color: white;
}
/* 绿色背景 */
.ls-btn-bg-green {
	border: 1px solid rgba(35,191,72,1);
    background: rgba(35,191,72,1);
    color: white;
}
.ls-btn-bg-green:hover{
	border: 1px solid transparent;
    background: rgba(35,191,72,0.8);
    color: white;
}


/* 蓝色边框 */
.ls-btn-bd-blue {
    border: 1px solid rgba(42,183,210,1);
    color: rgba(42,183,210,1);
    background: transparent;
}
.ls-btn-bd-blue:hover{
    border: 1px solid transparent;
    background: rgba(42,183,210,0.8);
    color: white;
}

/* 红色背景 */
.ls-btn-bd-red {
    border: 1px solid rgba(232,18,18,1);
    color: rgba(232,18,18,1);
    background: transparent;
}
.ls-btn-bd-red:hover{
    border: 1px solid transparent;
    background: rgba(232,18,18,0.8);
    color: white;
}
/* 橙色背景 */
.ls-btn-bd-orange {
    border: 1px solid rgba(228,191,17,1);
    color: rgba(228,191,17,1);
    background: transparent;
}
.ls-btn-bd-orange:hover{
    border: 1px solid transparent;
    background: rgba(228,191,17,0.8);
    color: white;
}
/* 绿色背景 */
.ls-btn-bd-green {
    border: 1px solid rgba(35,191,72,1);
    color: rgba(35,191,72,1);
    background: transparent;
}
.ls-btn-bd-green:hover{
    border: 1px solid transparent;
    background: rgba(35,191,72,0.8);
    color: white;
}

/* 蓝色阴影 */
.ls-btn-shadow-blue {
    box-shadow: 0px 0px 5px rgba(42,183,210,1);
}
.ls-btn-shadow-blue:hover {
    box-shadow: 0px 0px 20px rgba(42,183,210,1);
}

/* 红色阴影 */
.ls-btn-shadow-red {
    box-shadow: 0px 0px 5px rgba(232,18,18,1);
}
.ls-btn-shadow-red:hover {
    box-shadow: 0px 0px 20px rgba(232,18,18,1);
}

/* 橙色阴影 */
.ls-btn-shadow-orange {
    box-shadow: 0px 0px 5px rgba(228,191,17,1);
}
.ls-btn-shadow-orange:hover {
    box-shadow: 0px 0px 20px rgba(228,191,17,1);
}

/* 绿色阴影 */
.ls-btn-shadow-green {
    box-shadow: 0px 0px 5px rgba(35,191,72,1);
}
.ls-btn-shadow-green:hover {
    box-shadow: 0px 0px 20px rgba(35,191,72,1);
}

