---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
$base-font-size:   0.16rem;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     .3rem;

$text-color:       #ddd;
$text-color-light: lighten($text-color, 35%);
$text-color-dark:  darken($text-color, 25%);

$background-color: #333;
$background-color-light: lighten($background-color, 35%);
$background-color-dark:  darken($background-color, 25%);

// text-color
$brand-color:       #fc0;
$brand-color-light: lighten($brand-color, 85%);
$brand-color-dark:  #f90;

$grey-color:       #333;
$grey-color-light: lighten($grey-color, 35%);
$grey-color-dark:  darken($grey-color, 25%);

$blank-color:	   #444;
$blank-color-light: lighten($blank-color, 35%);
$blank-color-dark:  darken($blank-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// 定义媒体查询函数
@mixin media-query($device) {
        @media screen and (max-width: $device) {
                @content;
        }
}
// Use media queries like this:
@include media-query($on-palm) {
     .wrapper {
         padding-right: $spacing-unit / 2;
         padding-left: $spacing-unit / 2;
     }
 }


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "kit"
;
