/**
 *	初始化样式
 */
body{
	background:#333;
}
ul li{
  	list-style: none;
}
a:hover{
	text-decoration: none;
}
/**
 *	各自样式
 */
.header{
	margin-top: 100px;
}

/**
 *	字体样式
 */
.font-heiti-1{
	font: 24px/200% "微软雅黑", sans-serif;;
}
.font-heiti-2{
	font: 12px/100% "微软雅黑", sans-serif;;
}

/**
 *	颜色样式
 */
.color-white{
	color: white;
}
.color-white:hover{
	color: white;
}


/**
 *	边框样式
 */
.border-white{
  	border: 2px solid #eee;
}

/**
 *	自我介绍
 */
.aboutme{
	background: #222;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: inset 0 1px 10px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.1),0 -1px 0 rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.1),0 -1px 0 rgba(0,0,0,.5);
}

/**
 *	内容样式
 */
.content{
	display: inline-block;
	background: #222;
	box-shadow: inset 0 1px 10px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.1),0 -1px 0 rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0 1px 10px rgba(0,0,0,.3),0 1px 0 rgba(255,255,255,.1),0 -1px 0 rgba(0,0,0,.5);
}

/**
 * 我的头像以及翻转动画 
 */
.myphoto{
	max-height: 100px;
}
.myphoto:hover{
	box-shadow: 0px 0px 100px 5px #00e079;
	-webkit-box-shadow: 0px 0px 100px 5px #00e079;
  	border: 2px solid rgba(0,0,0,0);
}
.img-rotate{
	-webkit-transition:all 1s;
    -moz-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
.img-rotate:hover{
	animation: rotateImg 4s infinite;
	-moz-animation: rotateImg 4s infinite;	/* Firefox */
	-webkit-animation: rotateImg 4s infinite;	/* Safari 和 Chrome */
	-o-animation: rotateImg 4s infinite;	/* Opera */	
}

@keyframes rotateImg{
	0%{-webkit-transform: rotate(0deg);	}	
	25%{-webkit-transform: rotate(30deg);}		
	75%{-webkit-transform: rotate(-30deg);}
	100%{-webkit-transform: rotate(0deg);}	
}
@-moz-keyframes rotateImg{
	0%{-moz-transform: rotate(0deg);	}	
	25%{-moz-transform: rotate(30deg);}		
	75%{-moz-transform: rotate(-30deg);}
	100%{-moz-transform: rotate(0deg);}	
}
@-webkit-keyframes rotateImg{
	0%{-webkit-transform: rotate(0deg);	}	
	25%{-webkit-transform: rotate(30deg);}		
	75%{-webkit-transform: rotate(-30deg);}
	100%{-webkit-transform: rotate(0deg);}	
}
@-o-keyframes rotateImg{
	0%{-o-transform: rotate(0deg);	}	
	25%{-o-transform: rotate(30deg);}		
	75%{-o-transform: rotate(-30deg);}
	100%{-o-transform: rotate(0deg);}	
}

.img-logo{
	max-height: 55px;
}
.img-logo:hover{
	


	/*	倒影
	 box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(255, 255, 255, 0.0)), color-stop(80%,rgba(255, 255, 255, 0.10)), color-stop(100%,rgba(255, 255, 255, .3)));
	 -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(255, 255, 255, 0.0)), color-stop(80%,rgba(255, 255, 255, 0.4)), color-stop(100%,rgba(255, 255, 255, .8)));
	 -moz-box-reflect: below 5px -moz-gradient(linear, left top, left bottom, color-stop(10%,rgba(255, 255, 255, 0.0)), color-stop(80%,rgba(255, 255, 255, 0.4)), color-stop(100%,rgba(255, 255, 255, .8)));
	 -o-box-reflect: below 5px -o-gradient(linear, left top, left bottom, color-stop(10%,rgba(255, 255, 255, 0.0)), color-stop(80%,rgba(255, 255, 255, 0.4)), color-stop(100%,rgba(255, 255, 255, .8))); 
	*/
}
