<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">现世通行 <small style="margin-left: 20px; opacity: 0.4;">东方同人桌游</small></h2>

    <div class="footer-col-wrapper">

      <div class="footer-col">
        <ul class="social-media-list">
          <li><a target="_blank" href="https://space.bilibili.com/31437463"><i class="fa fa-thumbs-up"></i> B站</a></li>
          <li><a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=TA8SlKOdV7ALOQW-9jcCSnAIUOwAYVr6&jump_from=webapi&authKey=BAmwRTjDbUeE2eZf008HqV1d6ponH+MP0EPtb0cDFIR2VopNKRCblPj7J74IGhoO"><i class="fa fa-qq"></i> 官方社团群 - 516825003</a></li>
          <li><a target="_blank" href="https://qm.qq.com/cgi-bin/qm/qr?k=PTKRc5_LKsgxnr-zy2UVC2fqHZOQEiEM&jump_from=webapi&authKey=AYs3TwCr59OmJJNuosaRiRN9AyKVvhBA53C0iGju+YxByUucba8wNjfWoeA15iFy"><i class="fa fa-qq"></i> 安卓约战群 - 819333537</a></li>
          <li><a href="https://item.taobao.com/item.htm?id=643184451728"><i class="fa fa-shopping-cart"></i> 官方通贩</a></li>
          <li><a href="https://item.taobao.com/item.htm?id=651108429543"><i class="fa fa-shopping-cart"></i> 囧仙代理通贩</a></li>
        </ul>
      </div>


      <!-- <div class="footer-col footer-col-3">
        <p><i class="fa fa-yelp"></i> {{ site.description }}</p>

		<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		
      </div> -->
    </div>

    <div class="footer-other">
      <span class="footer-icp">ICP备案/许可证号：<a href="https://beian.miit.gov.cn/">苏ICP备2022002405号-1</a></span>
    </div>

  </div>

</footer>
