/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html{font-size: 100px;}

/**
 * Basic styling
 */
body {
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    font-family: $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    /* add shadow */
    box-shadow: inset 0 3px 30px rgba(0,0,0,.3);
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color-dark;
    text-decoration: none;
    transition: all .25s;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
    
    color: $brand-color;

    /*&:visited {
        color: darken($brand-color, 15%);
    }*/

    &:hover {
        color: $brand-color-dark;
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $text-color-dark; 
    border-left: 4px solid $grey-color-light; 
    padding-left: $spacing-unit / 2; 
    font-size: 18px;
    letter-spacing: -1px;
    /* font-style: italic; */

    > :last-child {
        margin-bottom: 0;
    }
}
/* blockquote:before, blockquote:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left, $blank-color,$blank-color-light,$blank-color);
    background: -moz-linear-gradient(left, $blank-color,$blank-color-light,$blank-color);
    background: linear-gradient(left, $blank-color,$blank-color-light,$blank-color);
} */



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-dark;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        font-family: 'microsoft yahei';
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width});
    max-width:         calc(#{$content-width});
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit /2;
    padding-left: $spacing-unit /2;
    @extend %clearfix;
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $text-color-dark;
        }
    }
}


/**
 * article
 */
article {
    background: $blank-color;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    padding: 20px;
}

/**
 * table
 */
table {
	border-spacing: 0px;
	border-left:1px solid $text-color-dark;
	border-top:1px solid $text-color-dark;
}
table td, table th {
	padding: 3px;
	border-right:1px solid $text-color-dark;
	border-bottom:1px solid $text-color-dark;
}