/*------------------ 图片类 */
/* logo */
.img-logo {
	display: inline-block;
    width: .56rem;
    height: .56rem;
    background: url('/img/xstx-logo.png') no-repeat;
    background-size: 100% 100%;
	position: absolute;
}

/* 布局 */
.flex1 {display: flex;align-items: center;justify-content: space-around;}
