@font-face {
  font-family: "鸿雷板书简体-测试版";
  src: url("../assets/font/鸿雷板书简体-测试版.ttf") format("truetype");
}

body {
  font-size: $--font-size-normal;
  color: $--text-color-info;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}