---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
	
	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
		<i class="fa fa-calendar"></i> 
		{{ page.date | date: "%Y年%-m月%-d日 " }}</time>
	<time>
		{% if page.author %}
			<i class="fa fa-user"></i>
			<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span>
			</span>
		{% else %}
			<i class="fa fa-user"></i>
			<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.username }}</span></span>
		{% endif %}
	</time>
	<time>
		<i class="fa fa-folder"></i> {{ page.categories }}
	</time>
	<time>
		<i class="fa fa-tag"></i> {% for tag in page.tags %}<span>{{tag}}</span> {% endfor %}
	</time>
	</p>
	
  </header>
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
	
	
	{% include bottom-contact.html %}
  </div>

<div id="container"></div>
<!-- viewer.js 图片预览插件 -->
<link href="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.9.0/viewer.min.css" rel="stylesheet">
<script src="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.9.0/viewer.min.js"></script>
<script>
new Viewer(document.getElementsByClassName('post')[0])
</script>
<!-- <link rel="stylesheet" href="/css/gitment-dark.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
id: '页面 ID', // 可选。默认为 location.href
owner: 'louislee92',
repo: 'louislee92.github.com',
oauth: {
client_id: '3b49a4571f0de05a83bb',
client_secret: 'd192341350d6557d53e78da615dd6c929e872fed',
},
})
gitment.render('container')
</script>
 -->
</article>
