---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
	
	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
	<i class="fa fa-calendar"></i>{{ page.date | date: "%Y年%-m月%-d日 " }}</time>
	<br>
	<time>{% if page.author %}<i class="fa fa-user"></i><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% else %}<i class="fa fa-user"></i><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.username }}</span></span>{% endif %}
	</time>
	<br>
	<time>
	<i class="fa fa-folder-open"></i>{{ page.categories }}
	</time>
	<br>
	<time>
	<i class="fa fa-tags"></i>{% for tag in page.tags %}<span>{{tag}}</span> {% endfor %}
	</time>
	</p>
  </header>
<!-- 多说分享按钮 start -->
<div class="ds-share flat" data-title="{{ page.title }}" data-url="">
	<div class="ds-share-inline">
	  <ul  class="ds-share-icons-32">
		
		<li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);"></a></li>
		<li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo"></a></li>
		<li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone"></a></li>
		<li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt"></a></li>
		<li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat"></a></li>
		
	  </ul>
	  <div class="ds-share-icons-more">
	  </div>
	</div>
</div> 
<!-- 多说分享按钮 end --> 
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

<!-- 多说评论框 start -->
	<div class="ds-thread" data-title="{{ page.title }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"louislee92"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
		// 获取该网页的地址
		var url=document.location.href;
		$(".ds-share").attr("data-url", url);
		console.log(url + " # "+$(".ds-share").attr("data-url"));
	})();
	</script>
<!-- 多说公共JS代码 end -->
</article>
